#wdc_header_slogan {float:right; 4text-align:right; padding-right:165px; padding-top:17px;} 

#centercolumn {float: left; font-size: 1em; margin-right:0px; width:100%;}
#centerCcolumn .blockFooter, #bottomCcolumn .blockFotter {margin-bottom:0px;}
#centerLcolumn .blockFooter, #bottomLcolumn .blockFooter {margin-bottom:0px;}
#centerRcolumn .blockFooter, #bottomRcolumn .blockFooter {margin-bottom:0px;}